@{
    ViewBag.Title = "TestData";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Index</h1>
        <p>Barely know what im doing (╯°□°）╯︵ ┻━┻ </p>
    </div>

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
